<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    
                    <th scope="col">albumId</th>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">url</th>
                    <th scope="col">thumbnailUrl</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of photo">
                    <th scope="row">{{i.albumId}}</th>
                    <td>{{i.id}}</td>
                    <td>{{i.title}}</td>
                    <td><img src="{{i.url}}" height="150px" alt="" class="src"></td>
                    <td>{{i.thumbnailUrl}}</td>
                    
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
</div>